{% extends 'padre.html' %}
    {% load static %}

{% block contenidoQueCambia %}
    
<h1>Seccion agrega clientes con formulario</h1>   

    <form action="{% url 'FormularioClientes' %}" method="POST"> {% csrf_token %}
        <p>Nombre: <input type="text" name="Nombre"></p>
        <p>Apellido: <input type="text" name="Apellido"></p>
        <p>Email: <input type="email" name="Email"></p>
        <p>Nombre mascota: <input type="text" name="Nombre mascota"></p>

        <input type="submit" name="Enviar">
    </form>

{% endblock %}